.wp-element-button, .wp-block-button__link {
	transition: transform .3s cubic-bezier(0.6, -0.28, 0.74, 0.05);
	
	&:hover {
		transform: translateX(0.5rem);

		.btn-prev-slide &,
		.btn-next-slide & {
			transform: none;
		}
	}
}


.wp-block-button.is-style-with-arrow .wp-block-button__link,
.wp-block-button.is-style-outline-with-arrow .wp-block-button__link {

	display: flex;
	justify-content: center;
	align-items: center;


	&:after {
		content: '';
		display: inline-block;
		width: 14px;
		height: 14px;
		margin-left: 1rem;
		background-color: currentColor; /* Esto asegura que el color del SVG coincida con el color del texto */
		mask-image: url(./assets/icons/arrow-right.svg);
		mask-size: cover;
		mask-repeat: no-repeat;
	}

}

.wp-block-button.is-style-outline-with-arrow .wp-block-button__link,
.wp-block-button.is-style-outline:not(.btn-next-slide, .btn-prev-slide) .wp-block-button__link {
	background: transparent none;
    border-color: currentColor;
    border-width: 1px !important;
    border-style: solid;
    color: currentColor;
    padding-top: 0.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
}


.btn-prev-slide a.wp-block-button__link,
.btn-next-slide a.wp-block-button__link {
    padding: 0;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
	border-width: 1px;

}

.btn-prev-slide.disabled,
.btn-next-slide.disabled {
	pointer-events: none;
	opacity: 0.5;
	filter: invert(0.5);
}