.wp-block-navigation__responsive-container.is-menu-open {
    max-width: var(--wp--custom--layout--wide);
    padding: var(wp--custom--layout--block-gap);
    box-shadow: 4px 8px 0px 0px rgba(0, 0, 0, 0.15);

    .wp-block-navigation__responsive-container-content {
        padding-top: 0;
    }
}

#navbar {

    @media ($above-tablet) {
        display: grid;
        transition: .3s ease-in-out;

        &.secondary-menu-open {   
            body.scrolled & {
                ul.max-mega-menu {
                    grid-template-columns: repeat(2, auto) 1fr repeat(5, auto);
        
                    li:nth-child(n+6):not(.toggle-secondary-menu) {
                        display: block !important;
                    }

                    li.mega-menu-item.wp-block-button {
                        display: none !important;
                    }
                }
            }
        }
    }
    
    ul.max-mega-menu {

        @media ($above-tablet) {
            display: grid !important;
            //grid-template-columns: auto auto auto 1fr auto auto auto;
            grid-template-columns: repeat(2, auto) 1fr repeat(4, auto);
            width: 100% !important;
            gap: 2rem;

            a.mega-menu-link:hover {
                color: var(--wp--preset--color--primary-10) !important;
            }

            body.scrolled & {
                grid-template-columns: repeat(3, auto) 1fr repeat(2, auto);

                .toggle-secondary-menu, li.mega-menu-item.wp-block-button {
                    display: flex !important;
                    opacity: 1;
                }
            }

            > li > ul.mega-sub-menu {
                margin-top: 1rem !important;
            }
        
            li:nth-child(-n+3) {
                justify-self: start;
            }
        
            li:nth-child(n+6):not(.wp-block-post, .wp-block-button) {

                body.scrolled & {
                    animation: appear-secondary-menu 0.3s ease-in-out;
                    display: none !important;
                    

                    &.toggle-secondary-menu {
                        display: block !important;
                    }
                }
                
                a.mega-menu-link {
                    font-size: var(--wp--preset--font-size--small) !important;
                }
            }

            li.mega-menu-item.wp-block-button {
                display: none !important;
                justify-content: end;  
                transition: .3s ease;
                transition-delay: 1s;
                opacity: 0;        
            }
        } 
    }

    @media ($below-tablet) {
        
        width: 100% !important;

        ul.max-mega-menu {
            
            & > li.mega-menu-item:nth-child(n+3) > a.mega-menu-link {
                padding: .5rem 2.5rem !important;
                background-color: var(--wp--preset--color--primary) !important;
                border-radius: var(--wp--custom--border-radius--md) !important;
                height: 4rem !important;
                line-height: 3rem !important;
            }

            & > li.mega-menu-item:nth-child(5) > a.mega-menu-link {
                margin-bottom: 1rem !important;
            }
            
            & > li.mega-menu-item:nth-child(n+6) > a.mega-menu-link {
                background-color: var(--wp--preset--color--neutral-100) !important;
            }

            & > li.mega-menu-item.button-contact-menu a.mega-menu-link {
                margin-top: 1rem !important;
                background-color: var(--wp--preset--color--background) !important;
            }
        }
    }
}

.button-contact-menu .mega-custom-icon::before{
    margin-top: 0.5rem !important;
    margin-left: 1rem !important;
}

.toggle-secondary-menu {
    display: none !important;
    justify-self: end;

    &:hover {
        cursor: pointer;
    }
}

.mega-toggle-block.mega-menu-toggle-animated-block.mega-toggle-block-2 {
    background-color: var(--wp--preset--color--primary) !important;
    border-radius: var(--wp--custom--border-radius--rounded);
    width: 2.5rem;
    height: 2.5rem !important;

    button.mega-toggle-animated.mega-toggle-animated-slider {
        color: #ffffff !important;
    }
}

.btn-close-menu-mobile {
    width: 2.5rem; /* 40px */
    height: 2.5rem; /* 40px */
    background-color: var(--wp--preset--color--text-medium);
    border: none;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    float: right;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 12px;
        height: 1.5px; /* Grosor del aspa */
        background-color: white;
    }

    &::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    
    &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    
}


@keyframes appear-secondary-menu {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
    
}

@keyframes vanish-secondary-menu {
    0% {
        
        transform: translateX(0);
    }
    100% {
        
        transform: translateX(100%);
    }
    
}