@use '../abstracts/mixins' as *;

:where(.wp-block-group.has-background) {
    padding: var(--wp--custom--layout--block-gap);
}

@media ($above-desktop)  {
    body {
        --wp--style--root--padding-right: 4rem;
        --wp--style--root--padding-left: 4rem;
    }  
}

body .is-layout-flow {

    & > .wp-block-image.alignright {
        margin-inline-start: 0;
    }

    & > .wp-block-image.alignleft {
        margin-inline-end: 0;
    }

} 

.single-caso-de-exito main {
    padding-bottom: 3rem;
}

@media ($above-mobile) {
    
    .smn-page-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--wp--custom--layout--block-gap);
    }
}

body[class*="-no-hero"] {
        
    .post-password-form {

        &:before {
            content: "";
            display: block;
            height: 300px;
            width: 100vw;
            margin: 0 calc(-50vw + 50%) var(--wp--preset--spacing--60);
            background: var(--wp--preset--color--primary);
        }

    }

}

.post-password-form {
    margin-bottom: var(--wp--preset--spacing--60) !important;

    input[type="password"] {
        margin-top: var(--wp--preset--spacing--10);
        margin-bottom: var(--wp--preset--spacing--20);
        border: 1px solid var(--wp--preset--color--neutral-60);
    }
}
