.wp-block-post-title a {
	text-decoration: none;
	color: var(--wp--preset--color--secondary);
}

.has-display-font-size {
	line-height: var(--wp--custom--line-height--tiny);
}


.wp-block-heading mark {
	background: transparent;
}