<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"default"}} -->
<main id="hero" class="wp-block-group" style="margin-top:0;margin-bottom:0"><!-- wp:cover {"overlayColor":"primary","isUserOverlayColor":true,"minHeight":520,"style":{"spacing":{"padding":{"top":"240px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover" style="padding-top:240px;min-height:520px"><span aria-hidden="true" class="wp-block-cover__background has-primary-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"fontSize":"display"} -->
<p class="has-display-font-size">404</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading">Ups! Página no encontrada</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"heading-4"} -->
<p class="has-heading-4-font-size">No hemos encontrado lo que buscas. Por favor prueba a hacer nueva búsqueda o pincha para volver a la homepage.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"background","textColor":"primary","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}}} -->
<div class="wp-block-button"><a class="wp-block-button__link has-primary-color has-background-background-color has-text-color has-background has-link-color wp-element-button" href="https://viral.sumun.net/epic-lift/">Homepage</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:spacer {"height":"80px"} -->
<div style="height:80px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div></div>
<!-- /wp:cover --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->